<div class="form-flash-message-container">
  <%= render 'shared/flash_message' %>
</div>

<div class="login-form-container">
  <h1 class="title">ログイン</h1>
  <%= form_with url: login_path, method: :post do |f| %>
    <div class="mt-4 mb-4">
      <%= f.label "メールアドレス", class:"label-tag fw-bold" %><br />
      <%= f.text_field :email, class:"text-field p-2" %>
    </div>
    <div class="mt-4 mb-2">
      <%= f.label "パスワード", class:"label-tag fw-bold" %><br />
      <%= f.password_field :password, class:"text-field p-2", autocomplete:"off" %>
    </div>
    <div class="actions mt-5">
      <%= f.submit "ログイン", class: "submit-button mb-2 p-2", data: { turbo: false } %><br />
      <%= link_to "新規登録", new_user_path, class: "signup-link-button mt-2 mb-2 p-2", data: { turbo: false } %><br />
      <%= link_to 'イベント一覧に戻る', root_path, class:"back-button mt-2 mb-2", data: { turbo: false } %>
    </div>
  <% end %>
</div>

