<div class="form-flash-message-container">
  <%= render 'shared/flash_message' %>
</div>

<div class="form-container">
  <h1 class="title">ユーザー新規登録</h1>
  <%= form_with model: @user, method: :post do |f| %>
    <div class="mt-4 mb-4">
      <%= f.label "名前", class:"label-tag fw-bold" %><br />
      <%= f.text_field :name, placeholder:"例）山田 太郎", class:"name-field p-2" %>
      <% if @user.errors[:name].any? %>
        <div class="error-message mt-1">
          <%= raw(@user.errors[:name].join("<br>")) %>
        </div>
      <% end %>
    </div>
    <div class="mt-4 mb-4">
      <%= f.label "自己紹介", class:"label-tag fw-bold" %><br />
      <%= f.text_area :self_introduction, placeholder:"自己紹介文を入力", rows: 5, class: "text-area w-100 p-2" %>
      <% if @user.errors[:self_introduction].any? %>
        <div class="error-message mt-1">
          <%= raw(@user.errors[:self_introduction].join("<br>")) %>
        </div>
      <% end %>
    </div>
    <div class="mt-4 mb-4">
      <%= f.label "メールアドレス", class:"label-tag fw-bold" %><br />
      <%= f.text_field :email, placeholder:"例）taro.yamada@example.com", class:"text-field p-2" %>
      <% if @user.errors[:email].any? %>
        <div class="error-message mt-1">
          <%= raw(@user.errors[:email].join("<br>")) %>
        </div>
      <% end %>
    </div>
    <div class="mt-4 mb-4">
      <%= f.label "電話番号", class:"label-tag fw-bold" %><br />
      <%= f.text_field :phone_number, placeholder:"例）0120224568", class:"text-field p-2" %>
      <% if @user.errors[:phone_number].any? %>
        <div class="error-message mt-1">
          <%= raw(@user.errors[:phone_number].join("<br>")) %>
        </div>
      <% end %>
    </div>
    <div class="mt-4 mb-4">
      <%= f.label "パスワード", class:"label-tag fw-bold" %><br />
      <%= f.password_field :password, placeholder:"パスワードを入力してください", class:"text-field p-2", autocomplete:"off" %>
      <% if @user.errors[:password].any? %>
        <div class="error-message mt-1">
          <%= raw(@user.errors[:password].join("<br>")) %>
        </div>
      <% end %>
    </div>
    <div class="image-field mt-4 mb-5" data-turbo="false">
      <%= f.label "プロフィール画像", class: "label-tag fw-bold" %><br />
      <div class="speech-bubble-area">
        <p class="speech-bubble">画像をクリックして、ファイルを選択できます。</p>
        <img id="image-preview" src="<%= asset_path("default_avatar.png") %>" class="mt-4 mb-2" /><br />
      </div>
    </div>
    <%= f.file_field :image, class: "upload-button invisible", id: "image-upload" %><br />
    <div class="actions">
      <%= f.submit "新規登録", class: "submit-button", data: { turbo: false } %>
    </div>
    <div class="back-button-container mt-3">
      <%= link_to 'ログインに戻る', login_path, class:"back-button", data: { turbo: false } %>
    </div>
  <% end %>
</div>