<div class="flash-message-container">
  <%= render 'shared/flash_message' %>
</div>

<div class="login-page-container">
  <h1 class="title">ユーザー新規登録</h1>
  <%= form_with model: @user, method: :post do |f| %>
    <div class="mt-4 mb-4">
      <%= f.label "名前", class:"label-tag fw-bold" %><br />
      <%= f.text_field :name, placeholder:"例）山田 太郎", class:"name-field p-2" %>
    </div>
    <div class="mt-4 mb-4">
      <%= f.label "自己紹介", class:"label-tag fw-bold" %><br />
      <%= f.text_area :self_introduction, placeholder:"自己紹介文を入力", rows: 5, class: "text-area w-100 p-2" %>
      <p class="character-limit">50文字以上、200文字未満で入力してください</p>
    </div>
    <div class="mt-4 mb-4">
      <%= f.label "メールアドレス", class:"label-tag fw-bold" %><br />
      <%= f.text_field :email, placeholder:"例）taro.yamada@example.com", class:"text-field p-2" %>
    </div>
    <div class="mt-4 mb-4">
      <%= f.label "電話番号", class:"label-tag fw-bold" %><br />
      <%= f.text_field :phone_number, placeholder:"例）0120224568", class:"text-field p-2" %>
    </div>
    <div class="mt-4 mb-4">
      <%= f.label "パスワード", class:"label-tag fw-bold" %><br />
      <%= f.password_field :password, placeholder:"パスワードを入力してください", class:"text-field p-2", autocomplete:"off" %>
    </div>
    <div class="image-field mt-4 mb-5" data-turbo="false">
      <%= f.label "プロフィール画像", class: "label-tag fw-bold" %><br />
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class:"profile-image mt-4 mb-4", width: 300, height: 300 %><br />
      <% else %>
        <div class="profile-image default-avatar mt-4 mb-4"></div><br />
      <% end %>
      <%= f.file_field :image, class: "upload-button px-4 py-1" %><br />
    </div>
    <div class="actions mt-5">
      <%= f.submit "新規登録", class: "submit-button", data: { turbo: false } %>
    </div>
    <div class="back-button-container mt-3">
      <%= link_to 'ログインに戻る', login_path, class:"back-button", data: { turbo: false } %>
    </div>
  <% end %>
</div>