<div class="mypage-container">
  <div class="flash-message-container">
    <%= render 'shared/flash_message' %>
  </div>

  <%= render 'shared/modal' %>

  <div class="breadcrumbs">
    <%= render_breadcrumbs separator: ' > ' %>
  </div>
  <% if logged_in? %>
    <section class="mypage-title mt-5">
      <h1>マイページ</h1>
    </section>

    <section class="user-info-area">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class:"user-large-thumbnail" %>
      <% else %>
        <%= image_tag 'default_avatar.png', class:"user-large-thumbnail" %>
      <% end %>
      <table class="user-info-table">
        <caption align="top" class="user-info-caption fs-4 mb-1">ユーザー情報</caption>
        <tbody>
          <tr>
            <th scope="row">名前</th>
            <td><span><%= @user.name %></span></td>
          </tr>
          <tr>
            <th scope="row">自己紹介</th>
            <td><span><%= @user.self_introduction.present? ? @user.self_introduction : '自己紹介文は未記入です' %></span></td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
            <td><span><%= @user.email %></span></td>
          </tr>
          <tr>
            <th scope="row">電話番号</th>
            <td><span><%= @user.phone_number %></span></td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="mypage-btns">
      <div class="mypage-actions">
        <%= link_to "編集する", edit_user_path(@user), class: "mypage-submit-button mt-2 mb-2 p-2 fs-6", data: { turbo: false } %>
        <button type="button" id="user-unsubscribe-button" class="unsubscribe-button btn outline btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal" data-message="本当に退会しますか？">
          退会する
        </button>
      </div>
      <%= link_to 'トップページに戻る', root_path, class:"back-button", data: { turbo: false } %>
    </section>
  <% end %>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const unsubscribeButton = document.getElementById('user-unsubscribe-button');
  const accountDelete = document.getElementById('delete-action');
  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

  const userId = <%= current_user.id %>;

  //退会モーダルのメッセージ取得
  unsubscribeButton.addEventListener('click', () => {
  const modalMessage = document.getElementById("modal-message");
  const dataMessage = unsubscribeButton.getAttribute("data-message");
  modalMessage.textContent = dataMessage;
  if(userId) {
    accountDelete.textContent = "退会";
  } else {
    accountDelete.textContent = "削除";
  }
  });

  //退会ボタンを押して、非同期でDELETEリクエスト送信
  if (!accountDelete){ return false; }
  accountDelete.addEventListener("click", async() => {
    try {
      if(!userId) { return false; }

      const url = `<%= ENV['DEVELOPMENT_URL'] %>/users/${userId}`;

      const response = await fetch(url, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
          'X-CSRF-Token': csrfToken
        },
      });

      if(response.ok) {
        window.location.href = `<%= ENV['DEVELOPMENT_URL'] %>/users/new`;
      } else {
        const data = await response.json();
        window.flashMessage(data);
      }
    } catch(e) {
      console.error( e.name, e.message );
    }
  })
});
</script>
