<div class="mypage-container">
  <div class="flash-message-container">
    <%= render 'shared/flash_message' %>
  </div>

  <div class="breadcrumbs">
    <%= render_breadcrumbs separator: ' > ' %>
  </div>
  <% if logged_in? %>
    <section class="mypage-title mt-5">
      <h1>マイページ</h1>
    </section>

    <section class="user-info-table">
      <% if @user.image.attached? %>
        <%= image_tag @user.image %>
      <% else %>
        <%= image_tag 'default_avatar.png', class:"user-thumbnail" %>
      <% end %>
      <table>
        <caption align="top" class="fw-bold fs-3 mb-2">ユーザー情報</caption>
        <tbody>
          <tr>
            <th scope="row">名前</th>
            <td><span><%= @user.name %></span></td>
          </tr>
          <tr>
            <th scope="row">自己紹介</th>
            <td><span><%= @user.self_introduction.present? ? @user.self_introduction : '自己紹介文は未記入です' %></span></td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
            <td><span><%= @user.email %></span></td>
          </tr>
          <tr>
            <th scope="row">電話番号</th>
            <td><span><%= @user.phone_number %></span></td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="mypage-btns">
      <div class="mypage-actions">
        <%= link_to "ユーザーを編集する", edit_user_path(@user), class: "submit-button mt-2 mb-2 p-2", data: { turbo: false } %>
        <button type="button" id="user-unsubscribe-button" class="unsubscribe-button btn outline btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal" data-message="本当に退会しますか？">
          退会する
        </button>
      </div>
      <%= link_to 'トップページに戻る', root_path, class:"back-button", data: { turbo: false } %>
    </section>
  <% end %>
</div>
