<div class="flash-message-container">
  <%= render 'shared/flash_message' %>
</div>

<div class="event-list-container">
  <h1 class="title">イベント一覧</h1>
  <% for event in @events do %>
    <div class="event-card">
      <%= image_tag event.image, size:'200x200' %>
      <%= event.name %>
      <%= link_to category_events_path(category_id: event.category.id), data: { turbo:false } do %>
        <%= event.category.name %>
      <% end %>
      <%= link_to date_events_path(event_day: event.event_day), data: { turbo:false } do %>
        <%= event.event_day.strftime("%-m月%-d日") %>
      <% end %>
    </div>
  <% end %>
  <%= paginate @events, theme: 'bootstrap-5', pagination_class: "mt-4 pagination-sm flex-wrap justify-content-center" %>
</div>