<div class="form-flash-message-container">
  <%= render 'shared/flash_message' %>
</div>

<% if logged_in? %>
  <%= render 'shared/modal' %>
  <div class="form-container">
    <h1 class="title">イベント作成</h1>
    <%= form_with model: @event, method: :post do |f| %>
      <div class="mt-4 mb-4">
        <%= f.label "イベント名", class:"label-tag fw-bold" %><br />
        <%= f.text_field :name, placeholder:"例）○○交流会", class:"name-field p-2" %>
        <% if @event.errors[:name].any? %>
          <div class="error-message mt-1">
            <%= safe_join(@event.errors[:name]) %>
          </div>
        <% end %>
      </div>
      <div class="mt-4 mb-4">
        <%= f.label "イベントの説明", class:"label-tag fw-bold" %><br />
        <%= f.text_area :event_description, placeholder:"イベントの説明文を入力", rows: 5, class: "text-area w-100 p-2" %>
        <% if @event.errors[:event_description].any? %>
          <div class="error-message mt-1">
            <%= safe_join(@event.errors[:event_description]) %>
          </div>
        <% end %>
      </div>
      <div class="mt-4 mb-4">
        <%= f.label "カテゴリー", class:"label-tag fw-bold" %><br />
        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください", class:"form-control" %>
        <% if @event.errors[:category_id].any? %>
          <div class="error-message mt-1">
            <%= safe_join(@event.errors[:category_id]) %>
          </div>
        <% end %>
      </div>
      <div class="mt-4 mb-4">
        <%= f.label "開催日", class:"label-tag fw-bold" %><br />
        <%= f.date_field :event_day, class:"form-control-sm", min: Date.current %>
        <% if @event.errors[:event_day].any? %>
          <div class="error-message mt-1">
            <%= safe_join(@event.errors[:event_day]) %>
          </div>
        <% end %>
      </div>
      <div class="mt-4 mb-4">
        <%= f.label "イベントの公開設定", class:"label-tag fw-bold mr-2" %><br />
        <div class="radio-button-items d-flex align-items-center">
          <%= f.label "公開", class:"radio-label-tag" %><br />
          <%= f.radio_button :public_status, :open, class:"radio-button", checked: true %><br />
          <%= f.label "非公開", class:"radio-label-tag" %><br />
          <%= f.radio_button :public_status, :closed, class:"radio-button" %>
        </div>
        <% if @event.errors[:public_status].any? %>
          <div class="error-message mt-1">
            <%= safe_join(@event.errors[:public_status]) %>
          </div>
        <% end %>
      </div>
      <div class="image-field mt-4 mb-5" data-turbo="false">
        <%= f.label "イベント画像", class: "label-tag fw-bold" %><br />
        <div class="speech-bubble-area">
          <p class="speech-bubble">画像をクリックして、ファイルを選択できます。</p>
          <img id="event-image-preview" src="<%= asset_path("events/no_image.png") %>", class="mt-2 mb-2" /><br />
        </div>
      </div>
      <div class="image-button-container">
        <%= f.file_field :image, class: "event-upload-button", id: "image-upload" %>
        <button type="button" id="image-delete-button" class="btn outline btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          画像を削除
        </button>
        <%= f.check_box :delete_image, { class: "form-check-input invisible", id: 'delete_image_field', checked: false }, true, false %>
      </div>
      <div class="actions">
        <%= f.submit "イベント作成", class: "submit-button", data: { turbo: false } %>
      </div>
      <div class="back-button-container mt-3">
        <%= link_to 'イベント一覧に戻る', root_path, class:"back-button", data: { turbo: false } %>
      </div>
    <% end %>
  </div>
<% end %>
<%= render 'shared/delete_image' %>